- if current_user.has_role?('admin')
  = link_to "Create new user", new_user_path
  &bull;
  = link_to "View login stats", '#view_login_stats', :id => "show_login_stats"
  &bull;
  = link_to "View login stats", '#view_login_stats', :id => "show_login_stats"
  &bull;
  = link_to "Active users", users_path
  &bull;
  = link_to "Disabled users", users_path(:disabled => true)
  %br

= will_paginate(@users)

%br
- for user in @users
  = render :partial => 'user', :locals => { :user => user }

:javascript
  jQuery(document).ready(function($) {
    $("a#show_login_stats").click(function() {
      $('.login_stats').slideToggle();
    })
  });
