- form_for @user_session, :url => create_session_path do |f|
  = f.error_messages
  %div
    = f.label :login
    %br
    = f.text_field :login, :size => 20
  %div
    = f.label :password
    %br
    = f.password_field :password, :size => 20

  = f.check_box :remember_me, :checked => true
  = f.label :remember_me, "Stay signed in"
  %br
  %br

  %div
    = f.label :openid_identifier, "OpenID URL"
    %br
    = f.text_field :openid_identifier, :size => 50

  %br
  %br
  = f.submit "Sign in"
